.team-section {
  padding-bottom: 94px;
  padding-top: 94px;

  background-color: var(--section-item-color);
  &__title {
    margin-bottom: 50px;
    @extend %header;

    color: var(--brand-text-color);
  }
}
