.project {
  padding-bottom: 94px;
  &__header {
    margin-bottom: 50px;
    @extend %header;

    // font-weight: 700;
    // font-size: 36px;
    // line-height: 1.16;
    // text-align: center;

    color: var(--brand-text-color);
  }
}
