.group-company {
  padding: 94px 0;
  &__title {
    margin-bottom: 50px;
    @extend %header;
    // font-weight: 700;
    // font-size: 36px;
    // line-height: 1.16;
    // text-align: center;

    color: var(--brand-text-color);
  }
}

.company {
  display: flex;
  justify-content: space-between;
  gap: 27px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;

    border-radius: 4px;
    margin: 0;
    transition: fill 250ms var(--timing-function),
      border 250ms var(--timing-function);
    border: 1px solid var(--icons-color);
    fill: var(--icons-color);
    &:hover,
    &:focus {
      background-color: var(--container-hero-color);
      fill: var(--tittle-buttom-color);
      border: 1px solid var(--tittle-buttom-color);
    }
  }
}
